@font-face {
    font-family: 'Avenir LT 45 Book';
    src: url('../fonts/avenir-lt-std-45-book.otf');
}
@font-face {
    font-family: 'Avenir LT 55 Roman';
    src: url('../fonts/avenir-lt-std-55-roman.otf');
}
@font-face {
    font-family: 'Avenir LT 65 Medium';
    src: url('../fonts/avenir-lt-std-65-medium.otf');
}
@font-face {
    font-family: 'Avenir LT 95 Black';
    src: url('../fonts/avenir-lt-std-95-black.otf');
}
body {
	font-family: 'Avenir LT 55 Roman';
	background: #f5f5f5;
	color: #393D41;
}
hr {
	height: 6px;
	border-radius: 20px;
	background: #f5f5f5;
	box-shadow: inset 1px 1px 2px #dfdfdf,
            inset -1px -1px 2px #ffffff;
}
.hr-footer {
	margin-left: 30px;
    margin-right: 30px;
}
h1 {
	font-family: 'Avenir LT 95 Black';
	font-size: 46px;
	color: #FF6633;
}
h2 {
	font-family: 'Avenir LT 55 Roman';
	font-size: 24px;
	color: #FF6633;
}
h3 {
	font-family: 'Avenir LT 55 Roman';
	font-size: 24px;
	color: #FF3366;
}
p {
	font-family: 'Avenir LT 45 Book';
	font-size: 16px;
	color: #18191A;
}

b {
	font-family: 'Avenir LT 95 Black';
	color: #FF6633;
}
body {
	background-color: #F5F5F5;
}
.text-p {
	margin-top: 5.5rem!important;
}
.mb-5 {
	margin-bottom: 2.5rem!important;
}
.form-input {
	color: #393D41!important;
	border-radius: 15px;
	background: #f5f5f5;
	box-shadow: inset -4px 4px 7px #e6e6e6,
	            inset 4px -4px 7px #ffffff;
	border: 0px;
}
.form-input:focus {
    color: #495057;
    background-color: #f5f5f5;
    border-color: #a1cbef;
    box-shadow: inset -4px 4px 7px #e6e6e6,
	            inset 4px -4px 7px #ffffff;
}

.footer {
	padding: 50px 0px;
	margin-top: 100px;
	box-shadow: inset 5px 5px 10px #d0d0d0,
            	inset -5px -5px 10px #ffffff;
}
.home {
	margin-top: 50px;
}
.nav-link {
	color: #333333;
}
.sub-link {
	padding-left: 30px!important;
	padding-right: 30px!important;
}
.btn-logo {
	padding: 10px 10px;
	color: #FF6633;
	border-radius: 16px;
	background-color: #f5f5f5;
	box-shadow:  6px 6px 12px #d5d5d5,
	             -6px -6px 12px #ffffff;
}

.btn-up {
	padding-left: 30px;
	padding-right: 30px;
	color: #FF6633;
	border-radius: 20px;
	background-color: #f5f5f5;
	box-shadow:  6px 6px 12px #d5d5d5,
	             -6px -6px 12px #ffffff;
}
.btn-up:hover {
	color: #E77604;
    box-shadow: inset 5px 5px 10px #e1e1e1,
            inset -5px -5px 10px #ffffff;
    text-decoration: none;
}
.first-nav {
	height: 70px;
}
.second-nav {
	height: 100px;
    padding-top: 30px;
}
.navbar {
  padding:0rem;
  background-color: #f5f5f5;
}

.dropdown .dropdown-menu {
  border-radius:0;
 }

.box-up {
	margin-top: 50px;
	padding: 60px;
	padding-top: 60px;
	border-radius: 20px;
	background: #f5f5f5;
	box-shadow:  13px 13px 22px #dadada,
	             -13px -13px 22px #ffffff;
}

.box-up-left {
	padding-right: 50px;
}

.box-up-right {
	padding-left: 50px;
}

.icon-outer {
	width: 120px;
	height: 120px;
    position: absolute;
    top: -12px;
    left: 50%;
    margin-left: -60px;
    border-radius: 20px;
	background: #f5f5f5;
	box-shadow:  9px 9px 18px #d0d0d0,
             -9px -9px 18px #ffffff;
	padding: 8px;
}
.icon-inner {
	width: 100%;
	height: 100%;
	border-radius: 12px;
	box-shadow: inset 5px 5px 10px #d0d0d0,
            inset -5px -5px 10px #ffffff;
    padding: 21px;
}
.icon-outer-l {
	margin-left: -75px;
}
.icon-outer-r {
	margin-left: -55px;
}
@media (min-width: 768px) {
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  border-radius:0;
 }
}
